
body {
  margin: 0;
  padding: 0;
}

.portrair{
  border-radius: 50%;
  border: 5px solid #ddd;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  //border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
