

<body>
<h1>About</h1>

<div>
  <!-- <img class="portrair" src="assets/images/felix.jpg"> -->

</div>
<div class="grid-container">
  <div class="grid-item">
    <img class="portrair" src="assets/images/felix.jpg">
</div>
  <div class="grid-item">
  <p> Mr. Bärtschi studied in two different countries two different fields (system engineering and electrical engineering. <br>
  He is vice world campion in robotics (Industrial). <Br>
  He holds a Technical System engineering (HF) diploma from the HFTM in Biel and a Bachelor degree in electrical and electronics Engineering from the Glyndwr University in Wrexham (UK)
</p>
</div>
  <div class="grid-item"></div>
</div>


</body>


<skills></skills>
<education></education>
