<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="background-pic">
  <h1> I'd love your feedback!</h1>

  <div class="grid-container">
    <div class="grid-item">
     <img class="headpic" src="assets/images/vietnam.jpg">
    </div>
    <div class="grid-item">
    </div>
  </div>

</div>







  </body>
</html>


  <div class="footer">
    <div class="grid-container">
      <div class="grid-item">
        <p>Stalk me:</p>
        <a href="https://www.linkedin.com/in/felix-baertschi">
          <img class="linkedin" src="assets/images/linkedin.png">
        </a>
      </div>
      <div class="grid-item">
        <p>Get you'r CV:</p>
        <a href="assets/CV_FelixBaertschi.pdf"><img class="linkedin" src="assets/images/file.png"></a>
      </div>
    </div>
  </div>


  <!--<a>&#098;&#097;&#101;&#114;&#116;&#115;&#099;&#104;&#105;&#057;&#049;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
-->
