body{
  overflow: hidden;
//  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 500 // or whatever number that is a positive real number.
}
