



<body>

<h1>Education</h1>
<hr>

<div class="timeline">
  <div class="entry">
    <div class="title">
      <h3>2008 - 2012</h3>
      <p>Professional School Langenthal</p>
    </div>
    <div class="body">
      <p>Federal Diploma of Vocational Education and
 Training in Automation Engineering </p>
      <ul>
        <li>PLCs / PACs</li>
        <li>Automatic control</li>
        <li>Automation engineering</li>

      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2013 - 2015</h3>
      <p>College of Higher Education HFTM</p>
    </div>
    <div class="body">
      <p> Advanced Federal Diploma of Higher Education in System Engineering ICT</p>
      <ul>
        <li>Electronics</li>
        <li>Software design</li>
        <li>Control engineering</li>
        <li>Engineering informatics</li>
        <li>Mechatronics and Robotics</li>

      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2015 - 2016</h3>
      <p>Glyndŵr University</p>
    </div>
    <div class="body">
      <p>BEng Hons Electrical and Electronics</p>
      <ul>
        <li>Electronics</li>
        <li>Computer vision</li>
        <li>Power engineering</li>
        <li>Computer engineering</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2019 - 2022</h3>
      <p>BFH University</p>
    </div>
    <div class="body">
      <p>MAS Data Science</p>
      <ul>
        <li>Statistics</li>
        <li>Data analysis</li>
        <li>Machine learning</li>
        <li>Data visualisation</li>
        <li>Database systems</li>

      </ul>
    </div>
  </div>

</div>

</body>
