<body>


  <div class="bgimg-1">
    <div class="caption">
      <span class="border">Felix Bärtschi</span>
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Unleash the power</h3>
      <p style="text-align:center;">The desire, to push humanity beyond unleashes ideas never thought before.
        <br> Combined with the engineering power unknown to the most of us,
        <br> a product gets created never seen before.</div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SILENCE IS POWER</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p style="text-align:center;">Eager to learn more in a world you can’t learn all.
        <br>Loving to work in diverse teams.
        <br>Analytics is the key.
</p>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">POWER IS MONEY</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p style="text-align:center;">Data is the gold of the 21 Century.
        <br>Let’s mine it together and see what we can build with it.
</p>
    </div>
  </div>

  <div class="bgimg-1">
    <div class="caption">
      <span class="border">MONEY IS LIVING</span>
    </div>
  </div>






</body>
