



<body>

<h1>Professional</h1>
<hr>

<div class="timeline">
  <div class="entry">
    <div class="title">
      <h3>2008 - 2012</h3>
      <p>SBB (Swiss Federal Railways)</p>
    </div>
    <div class="body">
      <p> Automation Engineer</p>
      <ul>
        <p>Update the swiss railway system with the newest technology, reaching from door/ventilation system up to security systems.
        </p>


      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2016 - Today</h3>
      <p>Accenture AG</p>
    </div>
    <div class="body">
      <p> IT Consultant</p>
      <ul>
        <p>Lead technical teams to deliver prototypes, MVPs, and production pilots of disruptive technologies like AI, Blockchain or Internet of Things for large international corporations.</p>
      </ul>
    </div>
  </div>



</div>

</body>
